html,
body {
    background-color: #E5E5E5;
}
header {
    background: #ed4732;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 1px 1px 10px #ccc;

}
header .header-inner {
    width: 940px;
    height: 42px;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    font-family: \5FAE\8F6F\96C5\9ED1, /* 微软雅黑，默认特殊标题字体 */
                     \9 ED1\4F53, /* 黑体，win下替换字体 */ \6587\6CC9\9A7F\6B63\9ED1\4F53, /* 文泉驿正黑体，unix/linux下替换字体 */ \534E\6587\7EC6\9ED1; /* 华文细黑，mac os下替换字体 */
    font-family: \5FAE\8F6F\96C5\9ED1, /* 微软雅黑，默认特殊标题字体 */
                     \9 ED1\4F53, /* 黑体，win下替换字体 */ \6587\6CC9\9A7F\6B63\9ED1\4F53, /* 文泉驿正黑体，unix/linux下替换字体 */ \534E\6587\7EC6\9ED1; /* 华文细黑，mac os下替换字体 */
}
header h1 {
    float: left;
    height: 42px;
    line-height: 42px;
    margin-right: 10px;
}
header h1 img {
    vertical-align: middle;
}
header nav {
    float: left;
}
header li {
    float: left;
    padding: 0 10px;
}
header li a {
    display: block;
    height: 40px;
    line-height: 46px;
}
header li a:link,
header li a:visited {
    color: #fff;
}
header li a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
header li.current {
    background-color: #f4907f;
}
header li.current a:link,
header li.current a:visited,
header li.current a:hover {
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
header .search {
    float: right;
    height: 42px;
    padding: 0 10px;
    cursor: pointer;
}
header .search:active {
    background-color: #f4907f;
}
header .search span {
    float: left;
    height: 40px;
    line-height: 46px;
    margin-right: 4px;
}
header .search img {
    float: left;
    margin-top: 17px;
}

#content {
    margin-top: 60px;
}
.screen {
    width: 1000px;
    margin: 0 auto;
}
section.row {
    zoom: 1;
}
section.row:after {display:block;clear:both;height:0;content:"\0020";}

div.case {
    zoom: 1;
    margin-bottom: 24px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px #1a1a1a;
    -webkit-box-shadow: 0px 2px 2px #1a1a1a;
    box-shadow: 0px 2px 2px #d8d8d8;
}
div.case:after {display:block;clear:both;height:0;content:"\0020";}
.case .user {
    float: left;
    padding: 22px 20px;
    width: 110px;
    overflow: hidden;
    color: #fff;
}
.case .user dt {
    border: 3px solid #ffffff;
    display: block;
    width: 84px;
    height: 84px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.case .user dt img {
    width: 84px;
    height: 84px;
    vertical-align: middle;
}
.case .user dd.name {
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto, Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
.case .user dd.name a:link,
.case .user dd.name a:visited {
    color: #333;
}
.case .user dd.name a:hover {
    color: #1abc9c;
    text-decoration: underline;
}
.case .main {
    position: relative;
    margin-left: 150px;
    overflow: hidden;
    padding: 20px 30px 14px 20px;
    border-left: 1px solid #E5E5E5;
}
.case .post {
    min-height: 118px;
}
.case .post h3 {
    font-size: 18px;
    font-family: \5FAE\8F6F\96C5\9ED1, /* 微软雅黑，默认特殊标题字体 */
                     \9 ED1\4F53, /* 黑体，win下替换字体 */ \6587\6CC9\9A7F\6B63\9ED1\4F53, /* 文泉驿正黑体，unix/linux下替换字体 */ \534E\6587\7EC6\9ED1; /* 华文细黑，mac os下替换字体 */
    margin-bottom: 10px;
}
.case .post h3 a:link,
.case .post h3 a:visited {
    color: #000;
}
.case .post p {
    font-size: 14px;
    color: #444;
}
.case .post p a:link,
.case .post p a:visited {
    color: #444;
}
.case .post p a:hover {
    color: #427fed;
    text-decoration: underline;
}
.case .tags {
    float: left;
    margin-left: 12px;
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}
.case .tags li {
    float: left;
    display: inline;
    margin-right: 20px;
}
.case .tags li a {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 18px;
    padding: 0 6px 0 4px;
    font-size: 13px;
    background-color: #0089e0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.case .tags li a:link,
.case .tags li a:visited,
.case .tags li a:hover {
    color: #fff;
    text-decoration: none;
}
.case .tags li a:hover {
    -moz-box-shadow: 3px 4px 4px #008ae0;
    -webkit-box-shadow: 3px 4px 4px #008ae0;
    box-shadow: 3px 4px 4px #999;
}
.case .tags li a:before {
    position: absolute;
    top: 0;
    left: -12px;
    content: "\0020";
    width:0;
    height:0;
    overflow: hidden;
    font-size: 0;
    border-style: solid;
    border-width: 10px 12px 10px 0;
    border-color: transparent #0089e0 transparent transparent;
}
.case .tags li a:after {
    position: absolute;
    top: 8px;
    left: -4px;
    content: "\0020";
    width: 4px;
    height: 4px;
    overflow: hidden;
    font-size: 0;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.case .browser-support {
    position: absolute;
    top: 25px;
    right: 12px;
    width: 16px;
    overflow: hidden;
}
.case .browser-support li {
    display: block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin-bottom: 8px;
    background-color: red;
    cursor: default;
    background: url(http://img.china.alibaba.com/cms/upload/2013/000/895/1598000_823742341.gif) no-repeat;
}
.case .browser-support li:hover {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
}
.case .browser-support li.ie {
    background-position: -32px 0;
}
.case .browser-support li.chrome {
    background-position: -64px 0;
}
.case .browser-support li.firefox {
    background-position: -48px 0;
}
.case .browser-support li.safari {
    background-position: 0 0;
}